.search {
  width: 280px;
  height: 50px;
  box-sizing: border-box;
  background-image: url(../../public/img/search-2x.png);
  background-repeat: no-repeat;
  background-position: center left 10px;
  padding-inline: 34px;
  background-size: 16px 16px;
  box-shadow: -1px 0px 0px 0px $border-color;
  border: none;
  border-bottom: 1px solid $border-color;
  background-color: #f2f8fe;
  &:focus {
    outline: none;
    background-color: #edf3f9;
  }
}
